<%= form_for(@lesson_apply) do |f| %>
  <% if @lesson_apply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson_apply.errors.count, "error") %> prohibited this lesson_apply from being saved:</h2>

      <ul>
      <% @lesson_apply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.text_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :lesson_id %><br>
    <%= f.text_field :lesson_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
